<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.hardware.camera.flash"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.webkit.resource.VIDEO_CAPTURE"/>
    <uses-permission android:name="android.webkit.PermissionRequest"/>
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <queries>
        <package android:name="vn.ninepay.ewallet"/>
    </queries>

    <application
            android:usesCleartextTraffic="true">

        <activity
                android:name="com.npsdk.module.NPayActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
                android:name="com.npsdk.jetpack_sdk.ErrorPaymentActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_error_payment"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.PaymentNinepay"/>
        <activity
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"
                android:name="com.npsdk.jetpack_sdk.WebviewActivity"
                android:exported="false"/>
        <activity
                android:name="com.npsdk.jetpack_sdk.InputCardActivity"
                android:exported="false"
                android:label="@string/title_activity_input_card"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PaymentNinepay"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name="com.npsdk.jetpack_sdk.OrderActivity"
                android:exported="false"
                android:label="@string/title_activity_order"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PaymentNinepay"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.npsdk.jetpack_sdk.PasswordActivity"
                android:exported="false"
                android:label="@string/title_activity_password"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PaymentNinepay"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.npsdk.jetpack_sdk.PolicyActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PaymentNinepay"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.npsdk.jetpack_sdk.WebviewComposeActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.PaymentNinepay"
                android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>